<footer class="rbe-site-footer">

  <div class="rbe-site-footer-grid">

    <div class="rbe-site-footer-grid__item">
      <div class="rbe-site-footer__latest-examples">
        <h1>Latest examples</h1>

      </div>
    </div>

    <div class="rbe-site-footer-grid__item">
      <div class="rbe-site-footer__subscribe">
        <h1>Never miss an example again</h1>
        <p>
          Leave your email address and we'll send you a short note when a new example is available
        </p>
        <div id="mc_embed_signup">
          <form action="//routingbyexample.us12.list-manage.com/subscribe/post?u=c709361087e14818643848f58&amp;id=8585fe4579" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your email address" required="">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c709361087e14818643848f58_8585fe4579" tabindex="-1" value=""></div>
            <input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="smallbutton blue">
          </form>
        </div>
      </div>
    </div>
  </div>

</footer>