<footer class="rbe-site-footer">

  <div class="rbe-site-footer-grid">

    <div class="rbe-site-footer-grid__item">
      <div class="rbe-site-footer__latest-examples">
        <h1>Latest examples</h1>

      </div>
    </div>

    <div class="rbe-site-footer-grid__item">
      <div class="rbe-site-footer__subscribe">
        <h1>Never miss an example again</h1>
        <p>
          Leave your email address and we'll send you a short note when a new example is available
        </p>
      </div>
    </div>
  </div>

</footer>
