
html{
  font-size: 100%;
}

body{
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  color: rgba(0,0,0,0.8);
  font-weight: 300;
}

.rbe-body--default{
  main {
    max-width: 700px;
    margin: 0 auto 60px auto;
    padding: 0 15px;
  }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure{
  margin-bottom: 15px;
}

a{
  display: inline-block;
  color: black;
  font-weight: 400;
  text-decoration: none;
  line-height: 1.5em;
  background: linear-gradient(black, black) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1.35em;
}
