/************************************************************
* HEADERS
*************************************************************/

.rbe-global-header{
  padding: 30px 0;
  width: 700px;
  margin: 0 auto 0 auto;
}

.rbe-site-header{
  padding: 0;
  width: 700px;
  margin: 0 auto;
}
