@import './variables';

/************************************************************
* NAVIGATION
*************************************************************/

.rbe-global-nav{
  ul{
    margin: 0 0 30px -30px;
    padding: 0;
    display: flex;
    align-items: center;
    li{
      display: block;
      flex: 0 1 auto;
      margin: 0 0 0 30px;
      a{
        display: inline-block;
        text-decoration: none;
        background-position: 0 1.8em;
        &.router-link-active, &.active{
          font-weight: 700;
        }
      }
    }
  }
}

.rbe-global-nav__logo{
  height: 40px;
  img{
    height: 40px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    &:hover{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  a{
    background: none;

  }
}

.rbe-global-nav__link-to-website{
  a{
    font-weight: 700;
    background: none;
    font-family: $rbe-font-sans-serif;
    font-size: 28px;
  }
}

.rbe-site-nav{
  ul{
    margin: 0 0 60px -30px;
    text-align: right;
    li{
      display: inline-block;
      margin: 0 0 0 30px;
      a{
        font-family: $rbe-font-sans-serif;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        background: none;
        color: rgba(0,0,0,0.5);
        &.router-link-active, &.active{
          color: black;
        }
      }
    }
  }
}
