/************************************************************
* SECTIONS
*************************************************************/

.rbe-section{
  margin: 0 0 4rem 0;
}

.rbe-section--styleguide{
  .rbe-section__headline{
    margin: 0 0 2rem 0;
    font-size: 2rem;
  }
}

