/************************************************************
* FOOTERS
*************************************************************/

.rbe-global-footer{
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 15px;
}

.rbe-site-footer{
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 15px;
}
